.modal{
	height: 100px;
	outline-color: black;
	outline-width: thick;
}


.header{
	height: 100px;
	outline-color: black;
	outline-width: thick;
}


.review
{
	height: 100px;
	outline-color: black;
	outline-width: thick;
}


.download {
	height: 100px;
	outline-color: black;
	outline-width: thick;
}


.picturebg{
	height: 100px;
	outline-color: black;
	outline-width: thick;
}


.caviar {
	height: 100px;
	outline-color: black;
	outline-width: thick;
}

.cityCard {
	height: 100px;
	outline-color: black;
	outline-width: thick;
}

.footer {
	height: 100px;
	outline-color: black;
	outline-width: thick;
}
