.container{
	min-width: 375pts;
	max-width: 1080px;

}

.modal{
	height: 45px;
	width: 100%;
	background-color: red;

}


.header{
	height: auto;
	background-color: blue;

}


.review
{
	height: 400px;
	background-image: url("https://img.trycaviar.com/x7pgux2UGo3J3wY_QrD3lITEmnk=/1680x1120/https://s3.amazonaws.com/trycaviar.com/offers/151/9049.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: black;
	color: white;
}


.download {
	height: 100px;
	background-color: red;
}


.picturebg{
	height: 100px;
	background-color: blue;

}

.imagePad{
	/*padding: 0px 3px 0px 3px;*/

}


.caviar {
	height: 100px;
	background-color: grey;

}

.cityCard {
	height: 100px;
	background-color: red;

}

.footer {
	height: 100px;
	background-color: grey;

}
